.headerCat{
  background-image:url('src/assets/image/bg2.jpg');
  padding: 50px;
  padding-top: 65px;
  background-position: center;
}

h1{
  font-size: 50px;
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}
.rcorners {
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 300px;
  height: 50px;
}
a:hover{
  color: rgb(248, 249, 250);
  font-size: 55px;
  transition: 0.5s all ease;
}
a{
  text-decoration: none;
  color: white;
}
